<style>
    :host {
        display: grid;
        grid-template-rows: 125px 500px auto;
        background-color: #333333;
        height: 100%;
        background: url("./../../../assets/landing.jpg");
    }

    @media only screen and (max-width: 1080px) {
    :host { background: url('./../../../assets/landing-2.jpg'); }
    }

    p {
        text-align: left;

        width: 95%;
        margin: auto;

        padding-left: 15px;
        font-family: Consolas, 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: large;
        margin-top: 25px;
        color: beige;
    }

    #header {
        grid-row: 1;
        grid-column: 1;
    }

    #footer {
        grid-row: 3;
        grid-column: 1;
    }
</style>

<p>Home works!</p>