/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.visible-borders {
  border: 1px solid black;
  border-radius: 5px;
  border-style: dashed;
}

app-spinner {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}