/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

html, body {
    padding: 1px;
    border: 1px solid blue;
    border-style: dashed;
    height: 100%;
}